<%- include("partials/header") %>
<div class="container">
  <div class="row" >
    <div class="form-body1 col" style="margin-top: 100px;margin-right: 20px;margin-bottom: 0px;padding-top: 50px;border-bottom-width: 50px;padding-bottom: 50px;">
        <h3 style="font-weight: bold; font-size: 28px;">Transferring From : </h3>
        <h3>Customer Name : <%= fromUser.name %></h3>
        <h3>Credits = <%= fromUser.balance %></h3>  
    </div>
    <div class="form-body2 col" style="margin-top: 100px;margin-right: 20px;margin-bottom: 0px;padding-top: 50px;border-bottom-width: 50px;padding-bottom: 50px;">
        <h3 style="font-weight: bold; font-size: 28px;"">Transferring To : </h3>
        <h3>Customer Name : <%= toUser.name %></h3>
        <h3>Credits = <%= toUser.balance %></h3>
    </div>
  </div>
</div>

<center>
<div class="container">
<div class="form ">
    <form action="/customers/<%= fromUser._id %>/<%= toUser._id %>?_method=PUT" method="POST">
    <label for="credits" ><h3 style="font-weight: bold;"> No. of Credits to be transferred :</h3></label>
    <br>
    <input type="number" id="credit" name="credit" placeholder="Enter the amount" value="">
    <br>

    <button class="btn formtransfer-btn">Transfer</button>
    </form>
</div>
</div>
</center>



<%- include("partials/footer") %>